<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bolin</title>
    <link rel="stylesheet" href="/public/css/fonts.css">
    <link rel="stylesheet" href="bolo.css">
    <link rel="stylesheet" href="/public/css/global.css">
</head>
<body>
    <div class="menu">
        <div class="sim">
        <img src="/public/assets/images/eca505d2f5386464f78b8fdb3761f353.png" alt="">
        </div>
                <a href="">Home</a> 
                
                <a href="/src/pages/index.html">Bolos</a>
        
                <a href="">Ifood</a>
        
                <a href="">Contato</a>
        
            </div>

            <div class="bolo">
                <h1>Bolos</h1>
                <p>Deliciosamente recheados e com muito sabor, cada um de nossos bolos é criado
                    para proporcionar mais amor e carinho para todas as ocasiões.</p>

            </div>


            <div class="final">
                <h1>Localização</h1> <br>
                <p>Avenida Belmira Marin, 148 - Parque Brasil, São Paulo - SP, 04846-000</p>
                <p>Avenida do Arvoeiro, 100 - Parque das Arvores, São Paulo - SP, 04824-100</p>
            </div>
        
    
</body>
</html>



